::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; }
  ::-webkit-scrollbar-thumb:active {
    background: #000000; }

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px; }
  ::-webkit-scrollbar-track:hover {
    background: #666666; }
  ::-webkit-scrollbar-track:active {
    background: #333333; }

::-webkit-scrollbar-corner {
  background: transparent; }

* {
  box-sizing: border-box; }

body {
  background-color: #2B2B2B;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  margin: 0 0; }

.light-bg {
  background-color: rgba(0, 0, 0, 0.2); }

.dark {
  color: #999999; }

.green {
  color: #1bd12d; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  text-align: center; }

.margin-one-top {
  margin-top: 1rem; }

.margin-one-bottom {
  margin-bottom: 1rem; }

.margin-one-left {
  margin-left: 1rem; }

.margin-one-right {
  margin-right: 1rem; }

.margin-one-top {
  margin-top: 1rem; }

.margin-one-bottom {
  margin-bottom: 1rem; }

.margin-one-left {
  margin-left: 1rem; }

.margin-one-right {
  margin-right: 1rem; }

.larger-icon {
  font-size: 19px;
  vertical-align: middle; }

.clickable-icon {
  cursor: pointer;
  user-select: none; }

.no-select {
  user-select: none;
  cursor: default; }

#app {
  background-color: #191919;
  color: #E5E5E5;
  width: 400px;
  height: 250px;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.tabs {
  border-top: 2px solid #2B2B2B;
  background-color: #191919;
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .tabs .tab {
    border-top: 1px solid #1bd12d;
    border-right: 2px solid #2B2B2B;
    line-height: 14px;
    cursor: pointer;
    height: auto;
    float: left;
    padding: 10px 10px; }
    .tabs .tab.left-border {
      border-left: 2px solid #2B2B2B; }
    .tabs .tab:active, .tabs .tab.active {
      border-top: 1px solid #5a1bd1;
      background-color: rgba(0, 0, 0, 0.2); }

.box {
  border-bottom: 1px solid #2B2B2B;
  border-right: 1px solid #2B2B2B;
  padding: 10px 10px;
  float: left; }
  .box.w30 {
    width: 30%; }
  .box.w40 {
    width: 40%; }
  .box.w60 {
    width: 60%; }
  .box.no-right-border {
    border-right: 0px; }
  .box.w70 {
    width: 70%;
    float: left; }

.icon {
  cursor: pointer !important; }
  .icon:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.label {
  color: #999999;
  width: 140px;
  float: left;
  margin-right: 10px;
  padding-left: 10px;
  line-height: 25px;
  vertical-align: middle; }

input[type='text'], input[type='password'] {
  margin-bottom: 5px;
  width: 220px;
  padding: 5px 5px;
  outline: none;
  border: none;
  background-color: #2B2B2B;
  font-size: 12px;
  color: #999999; }

.scroller {
  height: 178px;
  overflow: auto;
  width: 98%; }

/*# sourceMappingURL=main.css.map */
