<html>
	<head>
		<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/main.css">

		<script src="../node_modules/moment/min/moment.min.js"></script>
		<script src="../node_modules/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<div v-if="loading">
				<div v-if="!problem">Loading</div>
				<div v-else>Error</div>
			</div>
			<div v-if="!loading && !problem">
				<status></status>
				<setup></setup>
				<files></files>
			</div>
			<tabs></tabs>
		</div>

		<!-- Classes -->
		<script src="classes/api.class.js"></script>
		<script src="classes/PrinterFile.class.js"></script>

		<!-- Components -->
		<script src="components/setup.component.js"></script>
		<script src="components/files.component.js"></script>
		<script src="components/status.component.js"></script>
		<script src="components/pauseResumeStop.component.js"></script>
		<script src="components/progressCanvas.component.js"></script>
		<script src="components/ellipsis.component.js"></script>
		<script src="components/tabs.component.js"></script>

		<!-- Init -->
		<script src="globals.js"></script>
		<script src="filters.js"></script>
		<script src="main.js"></script>
	</body>
</html>
